---
- name: Install nginx
  ansible.builtin.apt:
    name: nginx
    state: present
    update_cache: true
- name: Add global nginx HTTP block configurations
  ansible.builtin.blockinfile:
    block: |
      server_tokens off;
      client_max_body_size 10M;
      client_body_buffer_size 128k;
      limit_req_zone $binary_remote_addr zone=ratelimit:10m rate=10r/s;
    insertafter: http {
    marker: "# {mark} ANSIBLE MANAGED BLOCK for global nginx HTTP settings"
    path: /etc/nginx/nginx.conf
  notify: Restart nginx service
- name: Create nginx site configuration file
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: "/etc/nginx/sites-available/{{ grafana_domain }}"
    owner: root
    group: root
    mode: "0644"
  notify: Restart nginx service
- name: Enable nginx site by creating a symlink
  ansible.builtin.file:
    src: "/etc/nginx/sites-available/{{ grafana_domain }}"
    dest: "/etc/nginx/sites-enabled/{{ grafana_domain }}"
    state: link
    force: true
  notify: Restart nginx service
- name: Remove default nginx site
  ansible.builtin.file:
    path: "/etc/nginx/sites-enabled/default"
    state: absent
  notify: Restart nginx service
- name: Test nginx configuration
  ansible.builtin.command: nginx -t
  register: nginx_test_result
  changed_when: false
  failed_when: nginx_test_result.rc != 0
