---
- name: Create Node Exporter install directory
  ansible.builtin.file:
    group: beaprom
    mode: "0755"
    owner: beaprom
    path: "{{ node_exporter_install_dir }}"
    state: directory
- name: Download Node Exporter
  ansible.builtin.get_url:
    dest: "{{ node_exporter_install_dir }}/{{ node_exporter_extracted_dir }}.tar.gz"
    group: beaprom
    mode: "0644"
    owner: beaprom
    url: "{{ node_exporter_download_url }}"
- name: Extract Node Exporter
  ansible.builtin.unarchive:
    dest: "{{ node_exporter_install_dir }}"
    group: beaprom
    owner: beaprom
    remote_src: "yes"
    src: "{{ node_exporter_install_dir }}/{{ node_exporter_extracted_dir }}.tar.gz"
- name: Create systemd user service directory
  ansible.builtin.file:
    group: beaprom
    mode: "0755"
    owner: beaprom
    path: /home/beaprom/.config/systemd/user
    state: directory
- name: Create Node Exporter service file
  ansible.builtin.template:
    dest: /home/beaprom/.config/systemd/user/node_exporter.service
    group: beaprom
    mode: "0644"
    owner: beaprom
    src: node_exporter.service.j2
  notify: Reload systemd user daemon
- name: Enable and start Node Exporter service
  ansible.builtin.systemd_service:
    enabled: "yes"
    name: node_exporter.service
    scope: user
    state: started
- name: Verify Node Exporter endpoint
  ansible.builtin.uri:
    method: GET
    status_code: 200
    url: http://localhost:{{ node_exporter_port }}/metrics
  become: "yes"
  delay: 5
  retries: 5
