[Unit]
After=network.target
Description={{ minecraft_server_name }} Minecraft Server

[Service]
ExecStart={{ minecraft_base_dir }}/{{ minecraft_server_name }}/run.sh
Restart=always
WorkingDirectory={{ minecraft_base_dir }}/{{ minecraft_server_name }}/

[Install]
WantedBy=default.target