#!/bin/bash

export JAVA_HOME="{{ java_install_dir }}/{{ java_extracted_dir }}"
export JAVA_COMMAND="$JAVA_HOME/bin/java"

echo "Starting..."
$JAVA_COMMAND @user_jvm_args.txt @libraries/net/neoforged/neoforge/{{ neoforge_version }}/unix_args.txt nogui "$@"