---
- name: Reload systemd user daemon
  ansible.builtin.systemd_service:
    daemon_reload: true
    scope: user
- name: Restart Minecraft service
  ansible.builtin.systemd_service:
    enabled: "yes"
    name: "{{ minecraft_server_name }}.service"
    scope: user
    state: restarted
